<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="http://localhost:4200/game">
      <img />
    </a>

    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="http://localhost:4200/home"> Home </a>

      <a class="navbar-item" href="http://localhost:4200/docu"> Documentation </a>
    </div>

    <div class="navbar-end">
      <div *ngIf="(currentUser$ | async)!.username">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link"> {{ (currentUser$ | async)!.username }}</a>

          <div class="navbar-dropdown">
            <a class="navbar-item" routerLink = 'profile' routerLinkActive = "active"> View Profile </a>
            <a class="navbar-item" href="http://localhost:8080/auth/realms/master/account" > Edit-Profile </a>
            <hr class="navbar-divider" />
            <a
              class="navbar-item"
              href="http://localhost:8080/auth/realms/master/protocol/openid-connect/logout?redirect_uri=http://localhost:4200/home"
              >Logout
            </a>
          </div>
        </div>


      </div>
    </div>
    <div *ngIf="!(currentUser$ | async)!.username" class="buttons">
      <a
        class="button is-light"
        routerLink="login"
        routerLinkActive="active"
      >
        Log in
      </a>
    </div>
  </div>
</nav>
