<div class="capp">
  <div class="hideator"><div class="fake-wrapper"></div></div>
  <ul class="task-list">
    <li *ngFor="let level of game.levels" (click)="loadNewDiagram(level)">Level {{level}}</li>
  </ul>
  <div
    class="gojs-wrapper">
    <gojs-diagram
      #myDiagram
      [initDiagram]="initDiagram"
      [nodeDataArray]="state.diagramNodeData"
      [linkDataArray]="state.diagramLinkData"
      [modelData]="state.diagramModelData"
      [skipsDiagramUpdate]="state.skipsDiagramUpdate"
      (modelChange)="diagramModelChange($event)"
      [divClassName]="diagramDivClassName"
    >
    </gojs-diagram>
  </div>

  <div class="gojs-palette">
    <gojs-palette
      [initPalette]="initPalette"
      [divClassName]="paletteDivClassName"
    >
    </gojs-palette>
  </div>


</div>
<div class="unten"> 
<div class="unten-zwei">
  <div class="task">Aufgabe: {{task}}</div>
<div class="haupt">
  <button class="button is-success is-outlined">‹</button>
  <button class="button is-danger ml-3" (click)="reinitModel()">↺</button>
  <div class="innen"> Wort: AHVFGT </div>
  <button class="button is-success" (click)="validateDiagram()">▶</button>
  <button class="button is-success is-outlined ml-3" (click)="checkDea()">›</button>
</div>

</div>
</div>
