.gojs-wrapper {
  background: whitesmoke;
  position: relative;
  width: 100%;
  height: calc(100vh - 250px);
}

.gojs-palette {
  background: whitesmoke;
  width: 150px;
  height: calc(100vh - 250px);
  border: 1px solid black;
  border-left: 0.5px solid black;
}

.capp {
  display: flex;
  position: relative;
}

.hideator {
  width: calc(100% - 1px);
  position: absolute;
  top: 0;
  right: 1;
  background-color: whitesmoke;
  height: 70px;
  z-index: 3;
}

.fake-wrapper {
  border: 1px solid black;
  border-bottom: none;
  border-right: none;
  width: 149px;
  height: 90px;
  float: right;
  clear: both;
}

* {
  outline: none;
}

.haupt {
  bottom: 20px;
  margin: 12px auto;
  right: calc(50% - 300px);
  height: 40px;
  z-index: 3;
  display: flex;

}

.innen {
  border: 3px solid lightblue;
  padding: 1rem;
  margin: 0 1rem;
  line-height: 0;

  
}

.task {
  top: 2rem;
  margin: 0 auto;
  z-index:3;
  background-color: white;
  width: 500px;
  min-height:40px;
  right: calc(50% - 220px);
  border: 1px solid lightseagreen;

}

.task-list {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index:3;
  background-color: white;
  width: 80px;
  border: 1px solid lightseagreen;
}

.task-list li {
  cursor: pointer;
}

.unten{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; 

}

.unten-zwei{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}
.zurück{
  position: absolute;
    top: 6px;
    left: 234px;
    z-index: 1000;
}

li.active{
  background-color: darkcyan;
}