#highscore {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #highscore td, #highscore th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #highscore tr:nth-child(even){background-color: #f2f2f2;}
  
  #highscore tr:hover {background-color: #ddd;}
  
  #highscore th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
  }