<h3 class="title is-3 has-text-centered">DEA (Reber Grammar)</h3>
<nav id="tool0" class="level">
  <div class="level-left">
    <button
      (click)="generateReberString()"
      class="action-button"
      mat-stroked-button
      color="primary"
    >
      Generiere korrektes Reber-Wort
    </button>
    <button
      (click)="generateNonReberString()"
      class="action-button"
      mat-stroked-button
      color="primary"
    >
      Generiere falsches Reber-Wort
    </button>
  </div>
  <div class="level-right">
    <button
      class="action-button"
      mat-stroked-button
      color="primary"
      (click)="openDialog()"
    >
      Tech-Stack
    </button>
    <a
      href="https://de.wikipedia.org/wiki/Deterministischer_endlicher_Automat"
      target="_blank"
      class="action-button"
      mat-stroked-button
      color="primary"
    >Theorie</a
    >
    <button
      (click)="startTour()"
      class="action-button"
      mat-stroked-button
      color="accent"
    >
      Tour starten!
    </button>
  </div>
</nav>
<section class="main-content columns is-fullheight">
  <aside class="column is-3 is-narrow-mobile is-fullheight is-hidden-mobile">
    <p class="menu-label is-hidden-touch">Eingabe</p>
    <form id="tool1" class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Eingabe der Zeichen</mat-label>
        <input
          [ngModel]="reberString"
          (ngModelChange)="evaluateString($event)"
          matInput
          placeholder="Ex. EEhhHbccd"
          name="reber-string"
        />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Ausgabe</mat-label>
        <input
          [value]="ausgabeString"
          matInput
          placeholder=""
          [ngClass]="ausgabeString === 'Korrekt' ? 'green' : 'red'"
          disabled
        />
      </mat-form-field>
    </form>
    <hr />
    <table
      id="tool2"
      #tableMain
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8"
    >
      <caption>
        <p class="menu-label has-text-left">
          Tabelle (<img
          src="https://wikimedia.org/api/rest_v1/media/math/render/svg/cb300facd9d5abda700b72af073fb1233de7b885"
          class="mwe-math-fallback-image-inline"
          aria-hidden="true"
          style="vertical-align: -0.671ex; width: 13.892ex; height: 2.676ex"
          alt="{\displaystyle \delta \colon Q\times \Sigma \rightarrow Q}"
        />)
        </p>
      </caption>
      <ng-container matColumnDef="q0">
        <th mat-header-cell *matHeaderCellDef>Q</th>
        <td mat-cell *matCellDef="let element">
          {{ element.q0 === "1" ? "&#8594; 1" : element.q0 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="e">
        <th mat-header-cell *matHeaderCellDef>∑</th>
        <td mat-cell *matCellDef="let element">{{ element.e }}</td>
      </ng-container>
      <ng-container matColumnDef="q1">
        <th mat-header-cell *matHeaderCellDef>Q</th>
        <td mat-cell *matCellDef="let element">
          {{ element.q1 === "8" ? "* 8" : element.q1 }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        [attr.data-after-content]="this.animationObject.current + 1"
        #matRows
        [id]="row.q0 + row.e + row.q1"
        mat-row
        *matRowDef="let row; columns: displayedColumns"
      ></tr>
    </table>
  </aside>

  <div id="tool3" class="container column is-9">
    <div id="tool4" class="overlay">
      <p>Q = {{ "{ 1, 2, 3, 4, 5, 6, 7, 8 }" }}</p>
      <p>∑ = {{ "{ B, T, S, V, X, P, E }" }}</p>
      <p>δ = siehe Tabelle</p>
      <p>q0 = {{ "{ 1 }" }}</p>
      <p>F = {{ "{ 8 }" }}</p>
    </div>
    <div id="tool5" class="button-group">
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle
          title="Start"
          [disabled]="
            reberString.length < 1 ||
            endState.getValue() !== 'stop' ||
            this.animationObject.current < 0
          "
          (change)="onStart()"
          value="bold"
        ><mat-icon aria-hidden="false" aria-label="chevron_left icon"
        >first_page</mat-icon
        ></mat-button-toggle
        >
        <mat-button-toggle
          title="Zurueck"
          [disabled]="
            reberString.length < 1 ||
            endState.getValue() !== 'stop' ||
            this.animationObject.current < 0
          "
          (change)="onPrevious()"
          value="bold"
        ><mat-icon aria-hidden="false" aria-label="chevron_left icon"
        >chevron_left</mat-icon
        ></mat-button-toggle
        >
        <mat-button-toggle
          title="Abspielen"
          *ngIf="endState.getValue() === 'stop'"
          [disabled]="reberString.length < 1"
          (change)="onPlay()"
          value="bold"
        ><mat-icon aria-hidden="false" aria-label="chevron_left icon"
        >play_circle_filled</mat-icon
        ></mat-button-toggle
        >
        <mat-button-toggle
          title="Resetten"
          *ngIf="endState.getValue() === 'start'"
          [disabled]="reberString.length < 1"
          (change)="onStop()"
          value="bold"
        ><mat-icon aria-hidden="false" aria-label="chevron_left icon"
        >stop_circle_filled</mat-icon
        ></mat-button-toggle
        >
        <mat-button-toggle
          title="Pause"
          [disabled]="reberString.length < 1 || endState.getValue() === 'stop'"
          (change)="onPause()"
          value="bold"
        ><mat-icon aria-hidden="false" aria-label="chevron_left icon"
        >pause_circle_filled</mat-icon
        ></mat-button-toggle
        >
        <mat-button-toggle
          title="Vor"
          [disabled]="
            reberString.length < 1 ||
            endState.getValue() !== 'stop' ||
            this.animationObject.current === this.reberConstruct.length - 1
          "
          (change)="onNext()"
          value="underline"
        ><mat-icon aria-hidden="false" aria-label="chevron_right icon"
        >chevron_right</mat-icon
        ></mat-button-toggle
        >
        <mat-button-toggle
          title="Ende"
          [disabled]="
            reberString.length < 1 ||
            endState.getValue() !== 'stop' ||
            this.animationObject.current === this.reberConstruct.length - 1
          "
          (change)="onEnd()"
          value="underline"
        ><mat-icon aria-hidden="false" aria-label="chevron_right icon"
        >last_page</mat-icon
        ></mat-button-toggle
        >
      </mat-button-toggle-group>
    </div>
    <app-cyto-graph [cyConfig]="cyConfig"></app-cyto-graph>
    <div
      title="Geschwindigkeit der Animation"
      id="tool6"
      class="slider-wrapper"
    >
      <mat-slider
        class="example-margin"
        [max]="5"
        [min]="1"
        [step]="1"
        thumbLabel="Speed"
        [(ngModel)]="speed"
        [disabled]="reberString.length < 1 || endState.getValue() === 'start'"
        vertical="true"
      >
      </mat-slider>
      <mat-icon aria-hidden="false" aria-label="chevron_right icon"
      >speed</mat-icon
      >
    </div>
    <div class="error-box" *ngIf="errorState.state === true" [innerHTML]="errorState.hm"></div>
  </div>
</section>
