.main-content {
  height: 550px;
  margin-bottom: 100px;
  padding: 0 1.5rem;
}

.left-bar {
  background-color: blue;
  height: 100%;
  width: 20%;
}

.container {
  border: 2px solid lightgray;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

table {
  width: 100%;
  text-align: center;
}

td,
th {
  vertical-align: middle;
}

tr.mat-row {
  height: 0px !important;
}

tr:nth-child(even) {
  background-color: rgba(238, 240, 253, 0.84);
}

.headline {
  margin-bottom: 5rem;
}

.button-group {
  align-self: flex-end;
  z-index: 100;
}

.slider-wrapper {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cy-wrapper {
  display: none;
  background: whitesmoke;
  width: 700px;
  height: 300px;
  border: 1px solid black;
}

.overlay {
  border: 1px solid #3f51b5;
  position: absolute;
  left: 2px;
  top: 2px;
  padding: 5px;
}

.action-button {
  margin-left: 12px;
}

.green {
  color: green;
}

.red {
  color: red;
}

tr.active {
  border: 2px dashed #ff4081;

  &:last-child {
    border: 3px dashed green;
  }
}
th,
td {
  padding: 0 !important;
  width: 33%;
}

th:nth-child(2),
td:nth-child(2) {
  border-right: 1px solid lightgray;
}

tr.active::after {
  content: attr(data-after-content);
  background-color: #ff4081;
  margin-left: -16px;
  margin-top: 0.3px;
  width: 19px;
  height: 19px;
  position: absolute;
  font-size: 12px;
  color: white;
}

tr:last-child.active::after {
  content: attr(data-after-content);
  background-color: green;
  margin-left: -16px;
  margin-top: 0.3px;
  width: 19px;
  height: 19px;
  position: absolute;
  font-size: 12px;
  color: white;
}

.error-box {
  position: absolute;
  bottom: -50px;
  left: 0;
  border: 1px solid red;
  background-color: lightgoldenrodyellow;
  padding: 7px;
}


