<div class="columns is-centered">
  <div class="column is-four-fifths eins ">
    <div class="column center">grammatik is-centered</div>
    <div id="cy"></div>
  </div>
  <div class="column zwei">
    <div>1</div>
    <div>
      <a
        class="button is-large is-fullwidth is-hovered is-success my-4"
        href="http://localhost:4200/game"
        >Hint</a
      >
      <a
      class="button is-large is-fullwidth is-hovered is-success my-4"
      href="http://localhost:4200/game"
      >Weiter</a
    >
    </div>
  </div>
</div>
