
<div class="container is-max-desktop">
<div class="field">
    <label class="label">Username</label>
    <div class="control">
      <input class="input" type="text" placeholder="Text input" value= "Najima">
    </div>
  </div>
  
  <div class="field">
    <label class="label">Name</label>
    <div class="control">
      <input class="input" type="text" placeholder="Text input" value= "Najima">
    </div>
  </div>

  <div class="field">
    <label class="label">Vorname</label>
    <div class="control">
      <input class="input" type="text" placeholder="Text input" value= "Najima">
    </div>
  </div>

  <div class="field">
    <label class="label">Email</label>
    <div class="control">
      <input class="input" type="text" placeholder="Text input" value= "Najima">
    </div>
  </div>

</div>