<h3 class="title is-3 has-text-centered">Grammatik (Mathematische Ausdrücke)</h3>
<nav class="level">
  <div id="tool1" class="level-left">
    Ausdruck erzeugen:
    <button
      class="action-button success"
      mat-raised-button
      (click)="generateExpression()"
    >
      <mat-icon class="button-icon" aria-hidden="false" aria-label="chevron_left icon"
      >repeat</mat-icon>
      Korrekt
    </button>
    <button
      class="action-button"
      mat-raised-button
      color="warn"
      (click)="generateExpression(false)"
    >
      <mat-icon class="button-icon" aria-hidden="false" aria-label="chevron_left icon"
      >repeat</mat-icon>
      Falsch
    </button>
  </div>
  <div id="tool0" class="level-right">
    <a
      href="https://hnaoufal.github.io/beuth/assets/docs/index.html"
      target="_blank"
      class="action-button"
      mat-button
      color="primary"
    >Dokumentation</a
    >
    <button
      class="action-button"
      mat-button
      color="primary"
      (click)="startTour()"
    >
      Tour starten!
    </button>
  </div>
</nav>
<section class="main-content columns is-fullheight">
  <aside class="column is-5 is-narrow-mobile is-fullheight is-hidden-mobile">
    <form id="tool2" class="input-form">
      <div class="columns">
        <div class="column is-7">
          <mat-form-field class="example-full-width">
            <mat-label>Manuelle Eingabe des Ausdrucks</mat-label>
            <input
              matInput
              placeholder="Bsp. (1 * 2) + 3 - 5 + (6 * 3)"
              name="reber-string"
              [(ngModel)]="expressionGrammar.Expression"
              (ngModelChange)="onManualExpressionChange($event)"
            />
          </mat-form-field>
        </div>
        <div *ngIf="expressionGrammar.Expression.length > 0" [ngClass]="{correct: expressionGrammar.value || expressionGrammar.value === 0 || expressionGrammar.value === 'infinity' }" class="column is-5 auswertung">
          <span>Auswertung:</span>
          <mat-icon aria-hidden="false" aria-label="chevron_left icon"
          >{{(expressionGrammar.value || expressionGrammar.value === 0 || expressionGrammar.value === 'infinity') ? 'check' : 'warning'}}</mat-icon> <span class="ellipsis">( = {{(expressionGrammar.value || expressionGrammar.value ===0 || expressionGrammar.value === 'infinity') ? expressionGrammar.value : 'Falsch' }}</span>)
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <label class="radio-label" id="example-radio-group-label">Animationsmodus:</label>
          <mat-radio-group
            name="mode"
            aria-labelledby="example-radio-group-label"
            class="radio-button-group"
            [(ngModel)]="mode">
            <mat-radio-button class="radio-button" *ngFor="let sMode of modes" [value]="sMode" [disabled]="sMode !== 'Ableitung'">
              {{sMode}}
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </form>
    <div id="tool3" class="columns">
      <div class="column">
        <p>Grammatik:</p>
        <code class="code code-black" [innerHTML]="code"></code>
      </div>
    </div>
  </aside>
  <div id="tool4" class="container column is-7" [ngClass]="{error: !(expressionGrammar.value || expressionGrammar.value === 0 || expressionGrammar.value === 'infinity') && expressionGrammar.Expression.length > 0}">
    <div *ngIf="(!(expressionGrammar.value || expressionGrammar.value === 0 || expressionGrammar.value === 'infinity') && expressionGrammar.Expression.length > 0)" class="columns">
      <div class="column error-exp-help">
        Reverser Modus:
      </div>
    </div>
    <div *ngIf="expressionGrammar.Expression.length > 0" class="columns">
      <div class="column is-4"><code>R: {{ rules.length === 0 ? 'Start' : rules[rules.length -1].rule }} ({{ rules.length }}) </code></div>
      <div class="column is-8"><span class="exp-int">{{ rules.length === 0 ? expressionGrammar.Valid ? 'A' : expressionGrammar.Expression : rules[rules.length -1].prevExp}}</span></div>
    </div>
    <div *ngIf="expressionGrammar.Expression.length === 0" class="no-exp-containter">
      <div>
        <mat-icon class="info-icon" aria-hidden="false" aria-label="chevron_left icon"
        >info</mat-icon>
        <h3>Noch keine Ausdruck erzeugt. Bitte zuerst ein Ausdruck automatisch generieren (<span>
    <button
      class="action-button success basic"
      mat-button
      (click)="generateExpression()"
    >
      <mat-icon class="button-icon" aria-hidden="false" aria-label="chevron_left icon">
        add
      </mat-icon>Korrekt</button></span>,
      <span><button class="action-button" mat-button color="warn" (click)="generateExpression(false)">
      <mat-icon class="button-icon" aria-hidden="false" aria-label="chevron_left icon">
        add
      </mat-icon>Falsch</button></span>) oder eine manuelle Eingabe tätigen.</h3>
      </div>
    </div>
    <div *ngIf="expressionGrammar.Expression.length > 0 && mode === 'Ableitung'" class="ableitungsliste">
      <div class="table-container" #listElement>
          <div class="col">Start</div>
          <div class="col-w">Regel</div>
          <div class="col">Resultat</div>
        <ng-container *ngIf="rules.length === 0">
          <div class="col"> {{ expressionGrammar.value || expressionGrammar.value === 0 || expressionGrammar.value === 'infinity' ? 'A' : expressionGrammar.ruleSet.length === 0 ? 'Keine Regel anwendbar: " ' +  expressionGrammar.Expression + ' " kann nicht weiter reduziert werden' : 'Falscher Ausdruck! Reverse Herleitung animieren' }}</div>
          <div class="col-w"></div>
          <div class="col"></div>
        </ng-container>
        <ng-container *ngFor="let exp of rules; let i=index" class="row">
          <div [@onVisible]="{ value: true, params: { speed1: 0.2, speed2: speed / 2 }}" class="col" [attr.data-scroll]="i">{{ exp.afterExp }}</div>
          <div [@onVisible2]="{ value: true, params: { speed1: 0.2, speed2: speed / 2 }}"  class="col-w animate-step-2">: {{ exp.rule }}</div>
          <div [@onVisible3]="{ value: true, params: { speed1: 0.2, speed2: speed / 2 }}"  class="col animate-step-3">⇒ {{exp.prevExp }}</div>
        </ng-container>
      </div>
    </div>
    <div *ngIf="expressionGrammar.Expression.length > 0 && mode === 'Ableitungsbaum'" class="ableitungsbaum">
      <app-cyto-graph [cyConfig]="cyConfig"></app-cyto-graph>
    </div>
  </div>
</section>
<div class="columns is-centered">
  <div class="column control-wrapper is-5">
    <div class="button-group">
      <mat-button-toggle-group id="tool5" name="fontStyle" aria-label="Font Style">
        <mat-button-toggle
          title="anfang"
          value="bold"
          [disabled]="expressionGrammar.Expression.length < 1 || state === 'start' || expressionGrammar.ruleSet.length === 0"
          (click)="onBegin()"
        ><mat-icon aria-hidden="false" aria-label="chevron_left icon"
        >first_page</mat-icon
        ></mat-button-toggle
        >
        <mat-button-toggle
          title="Zurueck"
          value="bold"
          [disabled]="expressionGrammar.Expression.length < 1 || state === 'start' || expressionGrammar.ruleSet.length === 0"
          (click)="onPrevious()"
        ><mat-icon aria-hidden="false" aria-label="chevron_left icon"
        >chevron_left</mat-icon
        ></mat-button-toggle
        >
        <mat-button-toggle
          title="Abspielen"
          [disabled]="expressionGrammar.Expression.length < 1 || state === 'start' || rules.length === expressionGrammar.ruleSet.length"
          (click)="onPlay()"
          value="bold"
        ><mat-icon aria-hidden="false" aria-label="chevron_left icon"
        >play_circle_filled</mat-icon
        ></mat-button-toggle
        >
        <mat-button-toggle
          title="Pause"
          value="bold"
          (click)="onPause()"
          [disabled]="state === 'stop'"
        ><mat-icon aria-hidden="false" aria-label="chevron_left icon"
        >pause_circle_filled</mat-icon
        ></mat-button-toggle
        >
        <mat-button-toggle
          title="Vor"
          value="underline"
          [disabled]="expressionGrammar.Expression.length < 1 || state === 'start'"
          (click)="onNext()"
        ><mat-icon aria-hidden="false" aria-label="chevron_right icon"
        >chevron_right</mat-icon
        ></mat-button-toggle
        >
        <mat-button-toggle
          title="Ende"
          value="underline"
          [disabled]="expressionGrammar.Expression.length < 1 || state === 'start'"
          (click)="onEnd()"
        ><mat-icon aria-hidden="false" aria-label="chevron_right icon"
        >last_page</mat-icon
        ></mat-button-toggle
        >
      </mat-button-toggle-group>
      <div
        title="Geschwindigkeit der Animation"
        id="tool6"
        class="slider-wrapper"
      >
        <mat-icon aria-hidden="false" aria-label="chevron_right icon">speed</mat-icon>
        <mat-slider
          class="example-margin"
          [max]="5"
          [min]="1"
          [step]="1"
          thumbLabel="Speed"
          [(ngModel)]="speed"
          (ngModelChange)="ngOnSpeedChange($event)"
        >
        </mat-slider>
      </div>
    </div>
  </div>
</div>
